## Ceará ocupa a 24 posição nacional, em representatividade de gênero na política

Análise de dados de pessoas eleitas em eleições gerais nacionais, entre 1998 e 2018, com base em dados do repositório [Brasilian Elections Python | CEPESPdata](https://github.com/Cepesp-Fgv/cepesp-python).

Esta análise faz parte desta [reportagem]()

### Coleta de Dados

In [1]:
!pip install electionsBR

Requirement already satisfied: electionsBR in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (0.0.5)
Requirement already satisfied: requests in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from electionsBR) (2.27.1)
Requirement already satisfied: pandas in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from electionsBR) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from pandas->electionsBR) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from pandas->electionsBR) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from pandas->electionsBR) (1.20.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from requests->electionsBR) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from requests->electionsBR) (1.26.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from requests->electionsBR) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from requests->electionsBR) (2.10)
Requirement already satisfied: six>=1.5 in /home/alexandre/anaconda3/envs/credos/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->electionsBR) (1.15.0)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/home/alexandre/anaconda3/envs/credos/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
from electionsBR import *

In [3]:
cargos = ['Presidente', 'Governador', 'Senador', 'Deputado Federal', 'Deputado Estadual']

In [4]:
# Coleta de dados:

dfs = []
for y in range(1998,2022,4):
    for c in cargos:
        df = get_candidates(year=y, position=c)
        df['pos'] = c
        dfs.append(df)

In [5]:
dados = pd.concat(dfs)

In [6]:
dados.head()

,ANO_ELEICAO,NUM_TURNO,DESCRICAO_ELEICAO,SIGLA_UF,SIGLA_UE,DESCRICAO_UE,CODIGO_CARGO,DESCRICAO_CARGO,NOME_CANDIDATO,SEQUENCIAL_CANDIDATO,...,CODIGO_NACIONALIDADE,DESCRICAO_NACIONALIDADE,SIGLA_UF_NASCIMENTO,CODIGO_MUNICIPIO_NASCIMENTO,NOME_MUNICIPIO_NASCIMENTO,DESPESA_MAX_CAMPANHA,COD_SIT_TOT_TURNO,DESC_SIT_TOT_TURNO,EMAIL_CANDIDATO,pos
0,1998,1,ELEICOES 1998,BR,BR,BRASIL,1,PRESIDENTE,LUIZ INÁCIO LULA DA SILVA,-1,...,1,BRASILEIRA,PE,-1,GARANHUNS,-1,4,NÃO ELEITO,#NE#,Presidente
1,1998,1,ELEICOES 1998,BR,BR,BRASIL,1,PRESIDENTE,JOSÉ MARIA DE ALMEIDA,-1,...,1,BRASILEIRA,SP,-1,SANTA ALBERTINA,-1,4,NÃO ELEITO,#NE#,Presidente
2,1998,1,ELEICOES 1998,BR,BR,BRASIL,1,PRESIDENTE,THEREZA TINAJERO RUIZ,-1,...,1,BRASILEIRA,SP,-1,SAO PAULO,-1,4,NÃO ELEITO,#NE#,Presidente
3,1998,1,ELEICOES 1998,BR,BR,BRASIL,1,PRESIDENTE,SERGIO BUENO,-1,...,1,BRASILEIRA,SP,-1,SAO PAULO,-1,4,NÃO ELEITO,#NE#,Presidente
4,1998,1,ELEICOES 1998,BR,BR,BRASIL,1,PRESIDENTE,CIRO FERREIRA GOMES,-1,...,1,BRASILEIRA,SP,-1,PINDAMONHANGABA,-1,4,NÃO ELEITO,#NE#,Presidente

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128047 entries, 0 to 18921
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ANO_ELEICAO                     128047 non-null  object
 1   NUM_TURNO                       128047 non-null  object
 2   DESCRICAO_ELEICAO               128047 non-null  object
 3   SIGLA_UF                        128047 non-null  object
 4   SIGLA_UE                        128047 non-null  object
 5   DESCRICAO_UE                    128047 non-null  object
 6   CODIGO_CARGO                    128047 non-null  object
 7   DESCRICAO_CARGO                 128047 non-null  object
 8   NOME_CANDIDATO                  128047 non-null  object
 9   SEQUENCIAL_CANDIDATO            128047 non-null  object
 10  NUMERO_CANDIDATO                128039 non-null  object
 11  CPF_CANDIDATO                   128047 non-null  object
 12  NOME_URNA_CANDIDATO             127498 non-null  object
 13  COD_SITUACAO_CANDIDATURA        128046 non-null  object
 14  DES_SITUACAO_CANDIDATURA        128046 non-null  object
 15  NUMERO_PARTIDO                  128046 non-null  object
 16  SIGLA_PARTIDO                   128043 non-null  object
 17  NOME_PARTIDO                    128046 non-null  object
 18  CODIGO_LEGENDA                  128043 non-null  object
 19  SIGLA_LEGENDA                   124560 non-null  object
 20  COMPOSICAO_LEGENDA              127987 non-null  object
 21  NOME_COLIGACAO                  124560 non-null  object
 22  CODIGO_OCUPACAO                 128046 non-null  object
 23  DESCRICAO_OCUPACAO              128045 non-null  object
 24  DATA_NASCIMENTO                 127462 non-null  object
 25  NUM_TITULO_ELEITORAL_CANDIDATO  128045 non-null  object
 26  IDADE_DATA_ELEICAO              128045 non-null  object
 27  CODIGO_SEXO                     128045 non-null  object
 28  DESCRICAO_SEXO                  128045 non-null  object
 29  COD_GRAU_INSTRUCAO              128045 non-null  object
 30  DESCRICAO_GRAU_INSTRUCAO        128045 non-null  object
 31  CODIGO_ESTADO_CIVIL             128045 non-null  object
 32  DESCRICAO_ESTADO_CIVIL          128045 non-null  object
 33  CODIGO_COR_RACA                 128047 non-null  object
 34  DESCRICAO_COR_RACA              128047 non-null  object
 35  CODIGO_NACIONALIDADE            128045 non-null  object
 36  DESCRICAO_NACIONALIDADE         128045 non-null  object
 37  SIGLA_UF_NASCIMENTO             127132 non-null  object
 38  CODIGO_MUNICIPIO_NASCIMENTO     128045 non-null  object
 39  NOME_MUNICIPIO_NASCIMENTO       128016 non-null  object
 40  DESPESA_MAX_CAMPANHA            128045 non-null  object
 41  COD_SIT_TOT_TURNO               128047 non-null  object
 42  DESC_SIT_TOT_TURNO              128047 non-null  object
 43  EMAIL_CANDIDATO                 128047 non-null  object
 44  pos                             128047 non-null  object
dtypes: object(45)
memory usage: 44.9+ MB

In [8]:
categoria = {'SUPLENTE':'Não Eleito',
 'NÃO ELEITO':'Não Eleito',
 '#NULO#':'Não Eleito',
 'ELEITO':'Eleito',
 'ELEITO POR QP':'Eleito',
 'REGISTRO NEGADO ANTES DA ELEIÇÃO':'Não Eleito',
 'ELEITO POR MEDIA':'Eleito',
 'RENÚNCIA/FALECIMENTO/CASSAÇÃO ANTES A ELEIÇÃO':'Não Eleito',
 '2º TURNO':'Não Eleito',
 'INDEFERIDO COM RECURSO':'Não Eleito',
 'REGISTRO NEGADO APÓS A ELEIÇÃO':'Não Eleito',
 'RENÚNCIA/FALECIMENTO/CASSAÇÃO APÓS A ELEIÇÃO':'Não Eleito',
 'CASSADO COM RECURSO':'Não Eleito'}

In [9]:
dados['resultado'] = dados['DESC_SIT_TOT_TURNO'].map(categoria)

In [10]:
dados['DESCRICAO_GRAU_INSTRUCAO'].value_counts().keys()

Index(['SUPERIOR COMPLETO', 'ENSINO MÉDIO COMPLETO', 'SUPERIOR INCOMPLETO',
       'ENSINO FUNDAMENTAL COMPLETO', 'MÉDIO COMPLETO',
       'ENSINO FUNDAMENTAL INCOMPLETO', 'ENSINO MÉDIO INCOMPLETO',
       '2º GRAU COMPLETO', 'FUNDAMENTAL COMPLETO', 'MÉDIO INCOMPLETO',
       'FUNDAMENTAL INCOMPLETO', 'NÃO INFORMADO', 'LÊ E ESCREVE',
       '2º GRAU INCOMPLETO', '1º GRAU COMPLETO', '1º GRAU INCOMPLETO',
       'ANALFABETO'],
      dtype='object')

In [11]:
escolaridade = {'SUPERIOR COMPLETO':'Superior',
 'ENSINO MÉDIO COMPLETO':'Médio',
 'SUPERIOR INCOMPLETO':'Médio',
 'ENSINO FUNDAMENTAL COMPLETO':'Fundamental',
 'MÉDIO COMPLETO':'Médio',
 'ENSINO FUNDAMENTAL INCOMPLETO':'Lê e escreve',
 'ENSINO MÉDIO INCOMPLETO':"Fundamental",
 '2º GRAU COMPLETO':"Médio",
 'FUNDAMENTAL COMPLETO':"Fundamental",
 'MÉDIO INCOMPLETO':"Fundamental",
 'FUNDAMENTAL INCOMPLETO':"Lê e escreve",
 'NÃO INFORMADO':"Não informado",
 'LÊ E ESCREVE':"Lê e escreve",
 '2º GRAU INCOMPLETO':'Fundamental',
 '1º GRAU COMPLETO':'Fundamental',
 '1º GRAU INCOMPLETO':'Lê e escreve',
 'ANALFABETO':"Analfabeto"
}

In [12]:
dados['escolaridade'] = dados['DESCRICAO_GRAU_INSTRUCAO'].map(escolaridade)

In [13]:
colunas = ['ANO_ELEICAO','SIGLA_UF','DESCRICAO_ELEICAO','DESCRICAO_CARGO','NOME_CANDIDATO','NOME_URNA_CANDIDATO','DES_SITUACAO_CANDIDATURA',
'SIGLA_PARTIDO','COMPOSICAO_LEGENDA','NOME_COLIGACAO','DATA_NASCIMENTO', 'DESCRICAO_SEXO', 'escolaridade','DESCRICAO_COR_RACA','NOME_MUNICIPIO_NASCIMENTO','DESC_SIT_TOT_TURNO','resultado'
]

In [14]:
dados.filter(colunas).to_csv('arquivos_gerados/dados_eleicoes.csv')

### Variáveis de referência

In [15]:
eleitos = dados.loc[dados.resultado=="Eleito"]

In [16]:
eleitas = eleitos.loc[eleitos.DESCRICAO_SEXO=="FEMININO"]

In [17]:
eleitos_ce = dados.loc[(dados.SIGLA_UF == 'CE')  & (dados.resultado=="Eleito")]

In [18]:
mulheres_2018 = dados.loc[(dados.DESCRICAO_SEXO == "FEMININO")
                          & (dados.ANO_ELEICAO == "2018")      
                          ]

In [19]:
mulheres_2018_eleitas = mulheres_2018.loc[mulheres_2018.resultado == "Eleito"]

In [20]:
eleitas_ce = eleitos_ce.loc[eleitos_ce.DESCRICAO_SEXO == "FEMININO"]

### Proporção entre homens e mulheres eleitas no Ceará, por Cargo/Eleição:
Gráfico: https://public.flourish.studio/visualisation/9289780/

In [21]:
grupo = eleitos_ce.groupby(['ANO_ELEICAO','DESCRICAO_CARGO'])['DESCRICAO_SEXO'].value_counts()
grupo = grupo.reset_index(name='Qtd')
grupo = grupo.pivot(index=['ANO_ELEICAO','DESCRICAO_CARGO'],columns='DESCRICAO_SEXO',values='Qtd').fillna(0).reset_index()
grupo
grupo = grupo.astype({'FEMININO': 'int64', 'MASCULINO': 'int64'})

grupo.columns = ['Ano','Cargo','Mulheres Eleitas', 'Homens Eleitos']

grupo.to_csv('arquivos_gerados/prop_genero_ceara.csv', index=False)
grupo

     Ano              Cargo  Mulheres Eleitas  Homens Eleitos
0   1998  DEPUTADO ESTADUAL                 4              42
1   1998   DEPUTADO FEDERAL                 0              22
2   1998         GOVERNADOR                 0               1
3   1998            SENADOR                 0               1
4   2002  DEPUTADO ESTADUAL                 8              38
5   2002   DEPUTADO FEDERAL                 0              22
6   2002         GOVERNADOR                 0               1
7   2002            SENADOR                 1               1
8   2006  DEPUTADO ESTADUAL                 2              44
9   2006   DEPUTADO FEDERAL                 1              21
10  2006         GOVERNADOR                 0               1
11  2006            SENADOR                 0               1
12  2010  DEPUTADO ESTADUAL                 6              40
13  2010   DEPUTADO FEDERAL                 1              21
14  2010         GOVERNADOR                 0               1
15  2010            SENADOR                 0               2
16  2014  DEPUTADO ESTADUAL                 7              39
17  2014   DEPUTADO FEDERAL                 2              20
18  2014         GOVERNADOR                 0               1
19  2014            SENADOR                 0               1
20  2018  DEPUTADO ESTADUAL                 6              40
21  2018   DEPUTADO FEDERAL                 1              21
22  2018         GOVERNADOR                 0               1
23  2018            SENADOR                 0               2

In [22]:
# Todos os Cargos: 
grupo = eleitos_ce.groupby(['ANO_ELEICAO'])['DESCRICAO_SEXO'].value_counts()
grupo = grupo.reset_index(name='Qtd')
grupo = grupo.pivot(index=['ANO_ELEICAO'],columns='DESCRICAO_SEXO',values='Qtd').fillna(0).reset_index()
grupo

DESCRICAO_SEXO ANO_ELEICAO  FEMININO  MASCULINO
0                     1998         4         66
1                     2002         9         62
2                     2006         3         67
3                     2010         7         64
4                     2014         9         61
5                     2018         7         64

### Percentual de mulheres eleitas no Brasil por Estado, Cargo e Eleição

Mapa: https://observablehq.com/embed/@cajazeiraramos/infoviz-mulheres-no-poder?cells=datavizMap%2Cviewof+year2%2Cviewof+cb_cargos%2Clegenda_mapa%2Cfonte3

In [23]:
grupo = eleitos.groupby(['ANO_ELEICAO','SIGLA_UF','DESCRICAO_CARGO'])['DESCRICAO_SEXO'].value_counts(normalize=True)
grupo = grupo.reset_index(name='Qtd')
grupo = grupo.loc[grupo.DESCRICAO_SEXO == "FEMININO"]
grupo.to_csv('arquivos_gerados/prop_genero_brasil_por_uf.csv', index=False)
grupo

    ANO_ELEICAO SIGLA_UF    DESCRICAO_CARGO DESCRICAO_SEXO       Qtd
1          1998       AC  DEPUTADO ESTADUAL       FEMININO  0.083333
3          1998       AC   DEPUTADO FEDERAL       FEMININO  0.125000
7          1998       AL  DEPUTADO ESTADUAL       FEMININO  0.111111
9          1998       AL   DEPUTADO FEDERAL       FEMININO  0.111111
11         1998       AL            SENADOR       FEMININO  1.000000
..          ...      ...                ...            ...       ...
954        2018       SP  DEPUTADO ESTADUAL       FEMININO  0.191489
956        2018       SP   DEPUTADO FEDERAL       FEMININO  0.157143
958        2018       SP            SENADOR       FEMININO  0.500000
961        2018       TO  DEPUTADO ESTADUAL       FEMININO  0.208333
963        2018       TO   DEPUTADO FEDERAL       FEMININO  0.250000

[335 rows x 5 columns]

### Proporção entre homens e mulheres eleitas no Brasil, por Cargo/Eleição:

Gráfico: https://public.flourish.studio/visualisation/9044760/

In [24]:
grupo = eleitos.groupby(['ANO_ELEICAO','DESCRICAO_CARGO'])['DESCRICAO_SEXO'].value_counts()
grupo = grupo.reset_index(name='Qtd')
grupo = grupo.pivot(index=['ANO_ELEICAO','DESCRICAO_CARGO'],columns='DESCRICAO_SEXO',values='Qtd').fillna(0).reset_index()
grupo
grupo = grupo.astype({'FEMININO': 'int64', 'MASCULINO': 'int64'})

grupo.columns = ['Ano','Cargo','Mulheres Eleitas', 'Homens Eleitos']

grupo.to_csv('arquivos_gerados/prop_genero_brasil.csv', index=False)
grupo

     Ano               Cargo  Mulheres Eleitas  Homens Eleitos
0   1998  DEPUTADO DISTRITAL                 4              20
1   1998   DEPUTADO ESTADUAL               102             933
2   1998    DEPUTADO FEDERAL                29             484
3   1998          GOVERNADOR                 1              26
4   1998          PRESIDENTE                 0               1
5   1998             SENADOR                 2              25
6   2002  DEPUTADO DISTRITAL                 5              19
7   2002   DEPUTADO ESTADUAL               129             906
8   2002    DEPUTADO FEDERAL                42             471
9   2002          GOVERNADOR                 2              25
10  2002          PRESIDENTE                 0               1
11  2002             SENADOR                 8              46
12  2006  DEPUTADO DISTRITAL                 3              21
13  2006   DEPUTADO ESTADUAL               121             914
14  2006    DEPUTADO FEDERAL                45             468
15  2006          GOVERNADOR                 3              24
16  2006          PRESIDENTE                 0               1
17  2006             SENADOR                 4              23
18  2010  DEPUTADO DISTRITAL                 4              20
19  2010   DEPUTADO ESTADUAL               134             901
20  2010    DEPUTADO FEDERAL                45             468
21  2010          GOVERNADOR                 2              25
22  2010          PRESIDENTE                 1               0
23  2010             SENADOR                 7              47
24  2014  DEPUTADO DISTRITAL                 5              19
25  2014   DEPUTADO ESTADUAL               114             921
26  2014    DEPUTADO FEDERAL                51             462
27  2014          GOVERNADOR                 1              27
28  2014          PRESIDENTE                 1               0
29  2014             SENADOR                 5              22
30  2018  DEPUTADO DISTRITAL                 3              21
31  2018   DEPUTADO ESTADUAL               160             875
32  2018    DEPUTADO FEDERAL                77             436
33  2018          GOVERNADOR                 1              26
34  2018          PRESIDENTE                 0               1
35  2018             SENADOR                 7              47

In [25]:
# Todos os Cargos: 
grupo = eleitos.groupby(['ANO_ELEICAO'])['DESCRICAO_SEXO'].value_counts()
grupo = grupo.reset_index(name='Qtd')
grupo = grupo.pivot(index=['ANO_ELEICAO'],columns='DESCRICAO_SEXO',values='Qtd').fillna(0).reset_index()
grupo

DESCRICAO_SEXO ANO_ELEICAO  FEMININO  MASCULINO
0                     1998       138       1489
1                     2002       186       1468
2                     2006       176       1451
3                     2010       193       1461
4                     2014       177       1451
5                     2018       248       1406

### Percentual de mulheres entre candidatos e eleitos no Ceará, por eleição

Gráfico: https://public.flourish.studio/visualisation/9298839/

In [26]:
grupo = dados.loc[dados.SIGLA_UF=="CE"].groupby(['ANO_ELEICAO','resultado'])['DESCRICAO_SEXO'].value_counts(normalize=True)
grupo = grupo.reset_index(name='Pct')
grupo['Pct'] = round(grupo['Pct']*100,2)
grupo = grupo.loc[grupo.DESCRICAO_SEXO == 'FEMININO'].filter(['ANO_ELEICAO','resultado','Pct'])
grupo = grupo.pivot(index="ANO_ELEICAO",columns='resultado',values='Pct')
grupo['Não Eleito'] = -grupo['Não Eleito'] #Valores negativos para o tipo de gráfico
grupo.columns = ['(%) de Mulheres entre Eleitos','(%) de Mulheres entre Candidaturas']
grupo.to_csv('arquivos_gerados/prop_mulheres_candidatos_eleitos_ceara.csv')
grupo

             (%) de Mulheres entre Eleitos  (%) de Mulheres entre Candidaturas
ANO_ELEICAO
1998                                  5.71                              -10.75
2002                                 12.68                              -15.77
2006                                  4.29                              -15.19
2010                                  9.86                              -30.67
2014                                 12.86                              -32.70
2018                                  9.86                              -32.96

### Distribuição da Raça/Cor das mulheres candidatas e eleitas no Brasil em 2018

Gráfico: https://public.flourish.studio/visualisation/9287731/

In [27]:
grupo_geral = mulheres_2018['DESCRICAO_COR_RACA'].value_counts().reset_index()
grupo_eleitas = mulheres_2018_eleitas['DESCRICAO_COR_RACA'].value_counts().reset_index()
grupo = pd.merge(grupo_geral, grupo_eleitas, on="index")
grupo.columns = ['Cor/Raça','Todas as candidatas','Mulheres Eleitas']
grupo.set_index('Cor/Raça',inplace=True)
grupo = grupo.T
grupo.to_csv('arquivos_gerados/raca_cor_mulheres_br.csv')
grupo

Cor/Raça             BRANCA  PARDA  PRETA  INDÍGENA
Todas as candidatas    4521   3097   1193        44
Mulheres Eleitas        181     47     19         1

### Escolaridade das Mulheres eleitas no Ceará
Gráfico: https://public.flourish.studio/visualisation/9290164/

In [28]:
grupo = eleitas_ce.groupby(['ANO_ELEICAO'])['escolaridade'].value_counts()
grupo = grupo.reset_index(name='Qtd')
grupo = grupo.pivot(index=['ANO_ELEICAO'],columns='escolaridade',values='Qtd').fillna(0).reset_index()
grupo = grupo.astype({
                        'Médio': 'int64',
                        'Superior': 'int64'
                      })
grupo.to_csv('arquivos_gerados/esc_eleitas_ce.csv', index=False)
grupo

escolaridade ANO_ELEICAO  Médio  Superior
0                   1998      0         4
1                   2002      1         8
2                   2006      0         3
3                   2010      0         7
4                   2014      1         8
5                   2018      1         6

### Eleitas no Ceará, em 2018:

In [29]:
eleitas_ce_2018 = dados.loc[
                            (dados.SIGLA_UF == 'CE') 
                            & (dados.ANO_ELEICAO == '2018') 
                            & (dados.DESCRICAO_SEXO == 'FEMININO')
                            & (dados.resultado == 'Eleito')
                          ]
                        
eleitas_ce_2018 = eleitas_ce_2018.filter(colunas)

In [30]:
eleitas_ce_2018['NOME_CANDIDATO'].to_list()

['LUIZIANNE DE OLIVEIRA LINS',
 'SILVANA OLIVEIRA DE SOUSA',
 'FERNANDA ENEIDA PESSOA CARACAS DE SOUZA',
 'ÉRIKA GONÇALVES AMORIM',
 'PATRÍCIA PEQUENO COSTA GOMES DE AGUIAR',
 'AUGUSTA BRITO DE PAULA',
 'MARIA ADERLANIA SOARES BARRETO NORONHA']

In [31]:
eleitas_ce_2018['DESCRICAO_COR_RACA'].value_counts(normalize=True)

BRANCA    1.0
Name: DESCRICAO_COR_RACA, dtype: float64

In [32]:
eleitas_ce_2018['DESCRICAO_CARGO'].value_counts()

DEPUTADO ESTADUAL    6
DEPUTADO FEDERAL     1
Name: DESCRICAO_CARGO, dtype: int64

In [33]:
eleitas_ce_2018.to_csv('arquivos_gerados/eleitas_ce_2018.csv')

### Candidatas ao cargo de Senador, pelo Ceará, entre 1998 e 2018

In [34]:
candidatas_senador_ce = dados.loc[(dados.SIGLA_UF == 'CE') & (dados.DESCRICAO_CARGO == 'SENADOR') & (dados.DESCRICAO_SEXO == 'FEMININO')]
candidatas_senador_ce = candidatas_senador_ce.filter(colunas)

In [35]:
candidatas_senador_ce.filter(['NOME_CANDIDATO','SIGLA_PARTIDO','ANO_ELEICAO','resultado'])

,NOME_CANDIDATO,SIGLA_PARTIDO,ANO_ELEICAO,resultado
45,PATRÍCIA LÚCIA SABOYA FERREIRA GOMES,PPS,2002,Eleito
43,MARIA NAIR FERNANDES SILVA,PDT,2006,Não Eleito
46,RAQUEL DIAS ARAUJO,PSTU,2010,Não Eleito
53,MARILENE TORRES DE VASCONCELOS,PSOL,2010,Não Eleito
33,RAQUEL DIAS ARAUJO,PSTU,2014,Não Eleito
34,GEOVANA MARIA CARTAXO DE ARRUDA FREIRE,PSB,2014,Não Eleito
56,MAYRA ISABEL CORREIA PINHEIRO,PSDB,2018,Não Eleito
58,ANNA KARINA CAVALCANTE DE OLIVEIRA,PSOL,2018,Não Eleito